{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directorio de proyectos - Luis Lainez</title>
    <link rel="stylesheet" href="{%static 'css/main.css'%}">
</head>
<body>

    <div id="base-modal" class="">    
        
    </div>
    
<section class="container block-container">
    <div>
        <div onclick="modalopen('Visor de Bases de Datos','')">Visor de Base de Datos UNAH</div>
        <divo onclick="modalopen('Conversor de Divisas - Grupo#4','/conversor')">Conversor de Divisas - Grupo#4</div>

    </div>
</section>
<section class="container">
    <div class="footer-container">

    
    <section class="footer-section">
        <div class="footer-info">Correo Electronico: luisglainezw002@gmail.com</div>
        <div class="footer-info">Linkedin: www.linkedin.com/in/luis-lainez-b32960303</div>
        <div class="footer-info">Telefono: +504 9250-6839</div>
        
    </section>
    <section class="footer-section">
        <div class="footer-info">Diseñado por: Ing. Luis Lainez</div>
        <div class="footer-info">Ingeniero en sistemas</div>

    </section>
</div>
</section>
<script src="{%static 'js/main.js'%}"></script>
<script src="{%static 'js/home.js'%}"></script>
<script src="https://kit.fontawesome.com/3ddafbe7b7.js" crossorigin="anonymous"></script>
</body>
</html>