{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visor Base de Datos</title>
    <link rel="stylesheet" href="{%static 'css/main.css'%}">
    {% block style %}
{%endblock%}
</head>
<body>

    <div id="base-modal" class="">    
        
    </div>
    

<section class="container nav-container">
    <nav class="navbar-DB">
        <section class="section-img">  
            <img src="{%static 'images/python.png'%}" class="navbar-img">
            <img src="{%static 'images/Oracle.png'%}" class="navbar-img">
        </section>
        <ul class="ul-nav">
            <li class="li-nav">
                <a href="{%url 'DB_UNAH:home'%}" class="a-nav">Inicio</a>
            </li>
            <li class="li-nav">
                <a href="{%url 'DB_UNAH:procedure'%}" class="a-nav">Procedimientos Almacenados</a>
            </li>
            <li class="li-nav">
                <a href="{%url 'DB_UNAH:table'%}" class="a-nav">Tablas</a>
            </li>
            <li class="li-nav">
                <a href="{%url 'DB_UNAH:sequence'%}" class="a-nav">Secuencias</a>
            </li>
        </ul>
       
    </nav>
</section>




<section class="container block-container">
    

    {% block content %}
    {% endblock %}
</section>
<section class="container">
    <div class="footer-container">

    
    <section class="footer-section">
        <div class="footer-info">Correo Electronico: luisglainezw002@gmail.com</div>
        <div class="footer-info">Linkedin: www.linkedin.com/in/luis-lainez-b32960303</div>
        <div class="footer-info">Telefono: +504 9250-6839</div>
        
    </section>
    <section class="footer-section">
        <div class="footer-info">Diseñado por: Ing. Luis Lainez</div>
    </section>
</div>
</section>
<script src="{%static 'js/main.js'%}"></script>
<script src="https://kit.fontawesome.com/3ddafbe7b7.js" crossorigin="anonymous"></script>
</body>
</html>