{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visor Base de Datos</title>
    <link rel="stylesheet" href="{%static 'css/main.css'%}">
</head>
<body>
    
<section class="container nav-container">
    <nav class="navbar-DB">
        <section class="section-img">  
            <img src="{%static 'images/python.png'%}" class="navbar-img">
            <img src="{%static 'images/Oracle.png'%}" class="navbar-img">
        </section>
        <ul class="ul-nav">
            <li class="li-nav">
                <a href="" class="a-nav">Procedimientos Almacenados</a>
            </li>
            <li class="li-nav">
                <a href="" class="a-nav">Diccionario de Datos</a>
            </li>
            <li class="li-nav">
                <a href="" class="a-nav">Secuencias</a>
            </li>
        </ul>
       
    </nav>
</section>

<section class="container ">

    <div id="Card-introduccion">
        <section id="introduccion">
            <div id="myname">
                Hola, mi Nombre es Luis Lainez
            </div>
            <div id="welcome">
                Bienvenidos a mi portafolio         
            </div>
        </section>
        <section id="description-page">
            <i class="fa-solid fa-database"></i>
            <p>
                En este momento estamos en la aplicacion web DB_UNAH.
            </p>
            <p>
                Es una aplicacion la cual pretende mostrar cada parte de la base de datos diseñada y construida para simular el funcionamiento de los sistemas de Admisiones, Matricula y Campus Virtual de la Universidad Nacional Autónoma de Honduras. Se incluyen Procedimientos Almacenados, Secuencias, Tablas y Datos incrustados en la misma.
            </p>
            <p>
                Esta es la version 1.0.0, en futuras versiones se incluiran otros proyectos y mejoras a esta aplicacion web
            </p>
        </section>
    </div>
    <i class="fa-solid fa-angles-down"></i>
</section>
<script src="https://kit.fontawesome.com/3ddafbe7b7.js" crossorigin="anonymous"></script>
</body>
</html>