{% extends 'base.html' %}
{%load static%}

{% block style %}
<link rel="stylesheet" href="{%static 'css/index.css'%}">
{%endblock%}
{% block content %}
    <div id="Card-introduccion">
        <section id="introduction">
            <div id="myname">
                Hola, mi Nombre es Luis Lainez
            </div>
            <div id="welcome">
                Bienvenidos a mi portafolio         
            </div>
        </section>
        <section id="description-page">
            <p >
                En este momento estamos en la aplicacion web DB_UNAH.
            </p>
            <div class="div-img-descripcion">
            <i class="fa-solid fa-database"></i>
            <img src="{%static 'images/index/Diagrama.png'%}" class="desc-img">
            <img src="{%static 'images/index/Diccionario.png'%}" class="desc-img">
            </div> 
            <p class="p-descripcion">
                Es una aplicacion la cual pretende mostrar cada parte de la base de datos diseñada y construida en Oracle para simular el funcionamiento de los sistemas de Admisiones, Matricula y Campus Virtual de la Universidad Nacional Autónoma de Honduras. Se incluyen Procedimientos Almacenados, Secuencias, Tablas y Datos incrustados en la misma.
            </p>
            <p class="p-descripcion">
                Esta es la <b>version 1.4.0</b>, en este momento se pueden ver los procedimientos almacenados y las secuencias, se pueden ver el DDL para la creacion de los mismos y detalles en las secuencias, en futuras versiones se incluiran mas detalles, otros proyectos y las partes correspondientes a esta aplicacion que esten sin terminar, entre otras funcionalidades.
            </p>
        </section>
    </div>

</section>


{%endblock%}