{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visor Base de Datos</title>
    <link rel="stylesheet" href="{%static 'css/main.css'%}">
    <link rel="stylesheet" href="{%static 'css/index.css'%}">
</head>
<body>
    
<section class="container nav-container">
    <nav class="navbar-DB">
        <section class="section-img">  
            <img src="{%static 'images/python.png'%}" class="navbar-img">
            <img src="{%static 'images/Oracle.png'%}" class="navbar-img">
        </section>
        <ul class="ul-nav">
            <li class="li-nav">
                <a href="" class="a-nav">Procedimientos Almacenados</a>
            </li>
            <li class="li-nav">
                <a href="" class="a-nav">Diccionario de Datos</a>
            </li>
            <li class="li-nav">
                <a href="" class="a-nav">Secuencias</a>
            </li>
        </ul>
       
    </nav>
</section>

<section class="container body-container">

    <div id="Card-introduccion">
        <section id="introduction">
            <div id="myname">
                Hola, mi Nombre es Luis Lainez
            </div>
            <div id="welcome">
                Bienvenidos a mi portafolio         
            </div>
        </section>
        <section id="description-page">
            <p >
                En este momento estamos en la aplicacion web DB_UNAH.
            </p>
            <div class="div-img-descripcion">
            <i class="fa-solid fa-database"></i>
            <img src="{%static 'images/index/Diagrama.png'%}" class="desc-img">
            <img src="{%static 'images/index/Diccionario.png'%}" class="desc-img">
            </div> 
            <p class="p-descripcion">
                Es una aplicacion la cual pretende mostrar cada parte de la base de datos diseñada y construida en Oracle para simular el funcionamiento de los sistemas de Admisiones, Matricula y Campus Virtual de la Universidad Nacional Autónoma de Honduras. Se incluyen Procedimientos Almacenados, Secuencias, Tablas y Datos incrustados en la misma.
            </p>
            <p class="p-descripcion">
                Esta es la <b>version 1.0.0</b>, en futuras versiones se incluiran otros proyectos y las partes correspondientes a esta aplicacion web
            </p>
        </section>
    </div>
    <div class="scroll-btn">
    presione para ir hacia abajo
    <i class="fa-solid fa-angles-down"></i>
    </div>

</section>

<section class="container projects-container">
    <div class="project">
        Analizador
    </div>
    <div class="project">
        Calculadora de divisas
    </div>
    <div class="project">
        Ecommerce
    </div>
</section>


<section class="container footer-container">
    <div class="footer-info">Diseñado por: Ing. Luis Lainez</div>
    <div class="footer-info">Correo Electronico: luisglainezw001@gmail.com</div>
    <div class="footer-info">Linkedin: tal XD</div>
    <div class="footer-info">Telefono: +504 9250-6839</div>
</section>
<script src="https://kit.fontawesome.com/3ddafbe7b7.js" crossorigin="anonymous"></script>
</body>
</html>