{% extends 'base.html' %}
{%load static%}

{% block style %}
<link rel="stylesheet" href="{%static 'css/statement.css'%}">
<link rel="stylesheet" href={{statement_css}}>
{%endblock%}
{% block content %}

<div class="table-statement">
{% for name in statements_names%}
    <section class="row">
    <div class="info">
        <div  class="statements_names">{{name}}</div>
        <div id="info{{name.lower}}" class="information" onclick="moreinfo('{{name.lower}}')"><i class="fa-solid fa-angle-down"></i></div>
    </div>
    <section id="{{name.lower}}"></section>

    </section>
{% endfor%}
</div>

<script src={{statement_js}}></script>
{%endblock%}





