
.row{
    width: 55rem;
}

.information{
    font-size: 18px;
    font-weight: 500;
    color: #c92020;
    display: flex;
    padding: 6px;
}


.information:hover{
    cursor: pointer;
    background-color: #ececec;  
    border-radius: 20px;
}

.info{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid rgb(143, 143, 143);
    padding: 8px;
    background-color: white;
}
.statements_names{
    align-self: center;
    color: rgb(24, 24, 24);
    font-size: 15px;
    font-weight: 500;
}

.row-content{
    margin-top: 0;
   
    background-color: #f8f8f8;
    border-left: 1px solid rgb(175, 15, 15);
    border-right: 1px solid rgb(175, 15, 15);
    border-bottom: 1px solid rgb(175, 15, 15);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.json{
    padding: 0px 10px 10px 10px;
    white-space: pre-wrap; 
    word-wrap: break-word; 
    font-family: monospace;

}

.more {
    margin-top: 0;
    margin-bottom: 0;
    background-color: #f8f8f8;
    display: flex;
    justify-content: start;
}

.btn-show{
    padding: 6px;
    font-size: 14px;
    color:white;
    border-bottom-right-radius: 10px;
    font-weight: 600;
    background-color: rgb(175, 15, 15);
}

.btn-show:hover{
    cursor: pointer;
    background-color: #d41f1f;
}

.table_statement{
    margin-top: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    margin-bottom: 60px;
}
