.navbar-img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.container{
    margin: 0;
}
.block-container{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.nav-container{
    box-shadow: 0px 5px 6px -3px rgba(179,179,179,1);
    background-color: white;
}

body{
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}

.navbar-DB{
    width: 100%;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ul-nav{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.li-nav{
    text-decoration-style: none;
    margin: 12px;
}

.a-nav{
    text-decoration: none;
    color:rgb(37, 37, 37);
    font-weight: 500;
}

.a-nav:hover{
    color:rgb(230, 10, 10)
}

.footer-container{
    background-color: #303846;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.footer-section{
    margin: 20px;
}

.footer-info{
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.modal-container{
    width: 100%;
    height: 100%;
    z-index: 1;
    position:fixed;
    background-color: rgba(46, 46, 46, 0.39);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.modal{
    padding: 40px;
    width: 55rem;
    height: 35rem;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow:0px 0px 5px #303846;
}

.close-btn{
    background-color: rgb(175, 15, 15);
    color: white;
    font-size: 18px;
    font-weight: 600;
}


.btn{
    padding: 10px;
    border-radius: 10px;
}


.btn:hover{
    cursor: pointer;
    background-color: #d41f1f;
}

.modal-footer{
    display: flex;
    justify-content: end;
}
.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}

.modal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#moreinfo-content{
    margin-top: 30px;
    margin-bottom: 30px;
}

.modal-title{
    padding: 10px;
    display:flex;
    justify-content: center;
}