table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #444444;
    color: #fff;
}

th, td {
    padding: 8px 11px;
    text-align: left;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    border-right: 1px solid #ddd;
}

tbody tr:nth-child(odd) {
    background-color: #fcfcfc;
}

tbody tr:hover {
    background-color: #eeeeee;
}
